@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

main {
  position: relative;
  top: 5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

main h1 {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 3em;
  color: var(--main-theme-color);
}

.contact-us-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  height: 100%;
  margin-bottom: 10em;
}

.contactInfo {
  margin-top: auto;
  margin-bottom: auto;
  grid-row: 1;
  grid-column: 1;
}

.custInfo {
  grid-row: 1;
  grid-column: 2;
  background-color: #ffffff;
}

.custInfo label,
.custInfo input {
  /* font-family: "Roboto Mono", monospace; */
  /* font-weight: 400; */
}

.contactInfo p {
  font-size: 1.25em;
  /* font-family: "Roboto Mono", monospace; */
}

.contactInfo h2 {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 1.75em;
}

.contactInfo h2::after {
  background-color: #ffffff;
}

/* input {
    border: 0.15rem var( --highlight-light-gray) solid;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  max-width: 100%;

  padding: 0.25rem 1rem;
  transition: 0.4s ease;
}

.textInp {
    border: none;
    border-radius: unset;
    border-bottom: 2px solid var(--highlight-dark-gray);
}

.textInp:focus {
    border-bottom: 2px solid var(--main-theme-color);

}

input:hover,
input:focus {
  box-shadow: 0 0 0 3px #0d132120;
  transition: 0.1s ease;
}
input:focus {
  border: 2px solid #ff9933;
  box-shadow: 0 0 0 3px #ff9933;
  transition: 0.1s ease;
  outline: none;
} */

/* textarea {
  border: 2px solid #0d132120;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  max-width: 100%;

  padding: 0.25rem 1rem;
  transition: 0.4s ease;
}
textarea:hover,
textarea:focus {
  box-shadow: 0 0 0 3px #0d132120;
  transition: 0.1s ease;
}
textarea:focus {
  border: 2px solid #ff9933;
  box-shadow: 0 0 0 3px #ff9933;
  transition: 0.1s ease;
  outline: none;
} */
.custInfo .btn-submit {
  background: var(--main-theme-color);
  border: 0.15rem var(--main-theme-color) solid;
  color: var(--txt-color);
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 0.5rem 1rem;
  margin-right: 1em;
  margin-bottom: 2em;
}

.custInfo .btn-submit:hover {
  text-decoration: none;
  transition: 0.25s;
  background: transparent;
}

@media screen and (max-width: 44rem) {
  main {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .contactInfo {
    margin-left: 1em;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .contact-us-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
  }

  .contactInfo {
    grid-row: 2;
    grid-column: 1;
  }

  .custInfo {
    grid-row: 1;
    grid-column: 1;
  }
}
