/*Footer CSS*/
.st0 {
  fill: url(#SVGID_1_);
}
.escudoFooter {
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.footerLogo {
  max-width: 100%;
  grid-row: 1/5;
  grid-column: 2/3;
  margin-top: auto;
  margin-bottom: auto;
}
.footerTitle::after {
  background-color: #333333;
  color: unset;
}

.footerTitle {
  font-size: 2.5em;
  color: #ffcc99;
  grid-row: 1/5;
  grid-column: 5/9;
  margin-top: auto;
  margin-bottom: auto;
}

.footerAboutTitle {
  font-size: 2em;
  color: #ffcc99;
  grid-row: 2;
  grid-column: 10/12;
}

.footerAboutInfo {
  color: white;
  grid-row: 3/5;
  grid-column: 10/12;
}

.footerContactTitle {
  font-size: 2em;
  color: #ffcc99;
  grid-row: 2;
  grid-column: 13/15;
}

.footerContactInfo {
  color: white;
  grid-row: 3/5;
  grid-column: 13/15;
}

@media screen and (max-width: 50rem) {
  .escudoFooter {
    background-color: #333333;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 1fr;
  }

  .footerLogo {
    max-width: 25%;
    grid-column: 1;
    grid-row: 2/5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footerTitle::after {
    background-color: #333333;
    color: unset;
  }

  .footerTitle {
    font-size: 2.5em;
    color: #ffcc99;
    grid-column: 1;
    grid-row: 5/7;
    text-align: center;
  }

  .footerAboutTitle {
    font-size: 2em;
    color: #ffcc99;
    grid-column: 1;
    grid-row: 8/10;
    text-align: center;
  }

  .footerAboutInfo {
    text-align: center;
    color: white;
    grid-column: 1;
    grid-row: 9/13;
  }

  .footerContactTitle {
    text-align: center;
    font-size: 2em;
    color: #ffcc99;
    grid-column: 1;
    grid-row: 11/12;
  }

  .footerContactInfo {
    text-align: center;
    color: white;
    grid-column: 1;
    grid-row: 12/15;
  }
}
