/*Footer CSS*/
.st0 {
  fill: url(#SVGID_1_);
}
.escudoFooter {
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.footerLogo {
  max-width: 50%;
  grid-row: 1/6;
  grid-column: 2/4;
  margin-top: auto;
  margin-bottom: auto;
}
.footerTitle::after {
  background-color: #333333;
  color: unset;
}

.footerTitle {
  font-weight: 400;
  font-size: 2.5em;
  color: #ffcc99;
  grid-row: 1/5;
  grid-column: 3/8;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.footerStyleGuide {
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  grid-row: 4;
  grid-column: 3/5;
  margin-left: 2.6rem;
}

.footerAboutTitle {
  font-weight: 400;
  font-size: 2em;
  color: #ffcc99;
  margin-top: 1em;
  grid-row: 1;
  grid-column: 8/10;
}

.footerAboutInfo {

  color: white;
  grid-row: 2/5;
  grid-column: 8/11;
  line-height: 1.5em;
}


.footerContactTitle {
  font-weight: 400;
  font-size: 2em;
  color: #ffcc99;
  margin-top: 1em;
  grid-row: 1;
  grid-column: 12/15;
}

.footerContactInfo {
  color: white;
  grid-row: 2/5;
  grid-column: 12/15;
}

@media screen and (max-width: 50rem) {
  .escudoFooter {
    background-color: #333333;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 1fr;
  }

  .footerLogo {
    max-width: 25%;
    grid-column: 1;
    grid-row: 2/5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footerTitle::after {
    background-color: #333333;
    color: unset;
  }

  .footerTitle {
    margin-left: 0;
    font-size: 2.5em;
    color: #ffcc99;
    grid-column: 1;
    grid-row: 5/7;
    text-align: center;
  }

  .footerStyleGuide {
    grid-column: 1;
    grid-row: 15;
    margin-left: 0;
    text-align: center;
  }

  .footerAboutTitle {
    font-size: 2em;
    color: #ffcc99;
    grid-column: 1;
    grid-row: 8/10;
    text-align: center;
  }

  .footerAboutInfo {
    text-align: center;
    color: white;
    grid-column: 1;
    grid-row: 9/13;
  }

  .footerContactTitle {
    text-align: center;
    font-size: 2em;
    color: #ffcc99;
    grid-column: 1;
    grid-row: 11/12;
  }

  .footerContactInfo {
    text-align: center;
    color: white;
    grid-column: 1;
    grid-row: 12/15;
  }
}
