/* NEW NAV CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*Importing Font*/

.nav img {
  max-width: 10em;
  min-width: 2.5em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.nav {
  /*Code for normal nav*/
  font-family: "Roboto Mono", monospace;
  background-color: var(--highlight-light-gray);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 0.05rem var(--highlight-dark-gray) solid;
}
.nav1 {
  /*Code for the nav in the style guide. Slightly different so the normal nav stays*/
  font-family: "Roboto Mono", monospace;
  background-color: var(--highlight-light-gray);
  position: relative;
  width: 100%;
  top: 0;
  border-bottom: 0.05rem var(--highlight-dark-gray) solid;
}

.nav_logo {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.nav_logo a:hover {
  border: none;
}

.nav1 a {
  border-bottom: 0.15rem transparent solid;
}

.nav a {
  border-bottom: 0.15rem transparent solid;
}

.nav a:hover {
  border-bottom: 0.15rem var(--main-theme-color) solid;
}

.nav1 a:hover {
  border-bottom: 0.15rem var(--main-theme-color) solid;
}

.nav_logo a:hover {
  border: none;
}

.nav_item_button a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.menu li {
  font-size: 1rem;
  padding: 1rem 1rem;
}

.menu li a {
  color: var(--txt-color);

  font-weight: bold;
  display: block;
}

/* Mobile */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.toggle {
  order: 1;
  /* display: none; */
}

.nav_item_button {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.nav_item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.nav_item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background-color: var(--txt-color);

  display: inline-block;
  height: 0.128rem;
  position: relative;

  width: 1rem;
}

.bars::before,
.bars::after {
  background-color: var(--txt-color);
  content: "";
  display: inline-block;
  height: 0.128rem;
  position: absolute;
  width: 1rem;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

/* tablet */
@media screen and (min-width: 480px) {
  .menu {
    /* justify-content: center; */
  }

  .nav_logo {
    /* flex: 1; */
    align-self: flex-start;
  }

  .nav_item_button {
    width: auto;
    order: 1;
    display: block;
    margin-left: auto;
  }

  .nav_item_button a {
    padding: 0.5rem 1rem;
    background-color: var(--main-theme-color);
    /* color: var(--highlight-light-gray); */
    border: 0.15rem var(--main-theme-color) solid;
  }

  .nav_item_button a:hover {
    transition: 0.25s;
    background-color: transparent;
  }

  .nav_item {
    display: unset;
  }
}

/* desktop */
@media screen and (min-width: 50rem) {
  .nav_item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }

  .nav_logo {
    order: 1;
    margin-right: auto;
  }

  .nav_item {
    order: 3;
  }

  .nav_item_button {
    order: 2;
  }
}
