.nav {
    background-color: #0d132199;
    position: fixed;
    width: 100%;
    top: 0;
    
    height: 3rem;
    z-index: 100;

    /* only for looks */
    /* This is not an error. If it does not work it will not effect anything */
    /* https://caniuse.com/?search=backdrop-filter */
    backdrop-filter: blur(20px);
    /* --------------------------------- */
    
    box-shadow: 0 01px 01px 0 #0001, 0 02px 02px 0 #0001, 0 04px 04px 0 #0001,
        0 08px 08px 0 #0001, 0 16px 16px 0 #0001, 0 32px 32px 0 #0001;
}
.nav__logo {
    height: 100%;
    padding: 0.5rem;
    background-color: #0008;
    object-fit: contain;
}
.nav > .mid {
    height: 100%;
    display: flex;
    align-items: stretch;
}
.nav a {
    text-decoration: none;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 900;
    transition: 0.4s ease;
}
@media screen and (max-width: 50rem) {
    .nav a {
        margin-right: 0.5rem;
    }
}
.nav a:last-child {
    margin-right: 0;
}
.nav a:hover {
    transform: translateY(-0.1rem);
    transition: 0.1s ease;
}
.nav a:focus {
    opacity: 0.8;
    transition: 0.1s ease;
}
article > .nav {
    position: initial;
}