form#payment {
  overflow: hidden;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
}

/* .userInfo, .paymentInfo, .paymentChoice, .shippingChoice, .shippingInfo, .action {
    padding: 2em 2em 0 2em;
    background-color: rgba(240, 240, 240, 0.75);
} */

.userInfo label,
.paymentInfo label,
.shippingInfo label {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
  position: relative;
  top: 1rem;
}

.paymentChoice label,
.shippingChoice label {
  margin-right: 10px;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
  position: relative;
  top: -1rem;
}

.userInfo input,
.paymentInfo input,
.shippingInfo input {
  background: #fff;
  border: 0.05rem var(--highlight-dark-gray) solid;
  color: #636466;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  width: 100%;
}

input:hover,
input:focus {
  /* box-shadow: 0 0 0 3px #0d132120; */

  border: 0.05rem var(--main-theme-color) solid;
  transition: 0.1s ease;
}

input:focus {
  border: 0.05rem var(--main-theme-color) solid;
  /*box-shadow: 0 0 0 3px #f45a17; */
  transition: 0.1s ease;
  outline: none;
}

#btn-submit {
  background: var(--main-theme-color);
  border: 0.15rem var(--main-theme-color) solid;
  color: var(--txt-color);
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 0.5rem 1rem;
  margin-right: 1em;
  margin-bottom: 2em;
}

#btn-submit:hover {
  text-decoration: none;
  transition: 0.25s;
  background: transparent;
}

/*Used the tutorial from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio to come up with the code for this area*/
.paymentChoice input,
.shippingChoice input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;

  /* border: 2px solid #999; */
  /* transition: 0.2s all linear; */
  margin-right: 5px;

  cursor: pointer;

  position: relative;
  top: 4px;
}

/* .paymentChoice input:checked, .shippingChoice input:checked {
    border: 6px solid rgb(220, 113, 39);
} */

.checkout-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 5rem;
  gap: 2rem;
}

.cart {
  grid-row: 1;
  grid-column: 1;
}

#payment {
  grid-row: 1;
  grid-column: 2;
}

/* .checkout-form > *:first-child {
  margin-right: 2rem;
} */

@media screen and (max-width: 70em) {
  .checkout-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }
  .cart {
    min-width: 100%;
    grid-row: 1;
    grid-column: 1;
  }
  form#payment {
    margin-left: unset;
    min-width: 100%;
    grid-row: 2;
    grid-column: 1;
  }
}
