:root {
  --txt-color: #333333;
  --main-theme-color: #ff9933;
  --light-main-theme-color: #ffcc99;
  --highlight-light-gray: #f2f2f2;
  --highlight-dark-gray: #858889;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--txt-color);
  scroll-behavior: smooth;
}

.main {
  /* min-width: 30rem; */
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  margin-top: 5rem;
}

/* product info container */
.product_info_container {
  justify-content: space-between;
}

.product_info_box {
  flex: 1;
  padding: 0 2rem;
}

.product_img_box {
  height: auto;
  display: inline-flex;
  align-content: center;
  flex: 1;
}

.product_img_box img {
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
}

.features_list,
.cert {
  /*Spacing out the list items such that they're more readable*/
  line-height: 1.5rem;
}

#quantity {
  font-size: 1rem;
}

@media screen and (max-width: 70rem) {
  .product_info_box {
    padding: 0;
  }

  .product_info_container {
    margin: auto;
  }
}
/* product name sizing and color */
@media screen and (min-width: 70rem) {
  .product_info_container {
    display: flex;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 70rem) {
  h3 {
    font-size: 2.5rem;
  }
}

#product_name {
  color: var(--main-theme-color);
}

/* addditional info container */

.additional_info_container {
  padding: 0 2rem;
}
